.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: -apple-system,"Segoe UI";
    letter-spacing: 0.5px;
  }
  .banner{
    background-color: #263545;
    /*height: 70px;*/
    /*z-index: 10; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding : 5px 5px 5px 0px;
  }
  .banner-menu { 
    display:  flex;
    height: 34px;
  }
  .banner-menu .banner-menu-item { 
      min-width: 40px;
      width: 40px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.15);
      margin-left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      color : white; 
      cursor: pointer;
      transition: all 0.3s;
  }
  .banner-menu .banner-menu-item svg { 
      width: 50%;
      fill: white;
  }
  .banner-menu .banner-menu-item:hover { 
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .banner .banner-user .banner-icon .banner-btn-logout{
    background-color:transparent;
    border:none;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline:  none !important;
  }
  .banner .banner-user .banner-icon .banner-btn-logout svg{
    height: 100%;
    fill: white;
    width: 52px;
  }
  .banner .banner-user{
    display: flex;
    flex-display: row;
  }
  .banner .banner-user .banner-user-info{
    display: flex;
    flex-direction: row;
    color:white;
    fill:white;
    cursor: pointer;
    transition: all 0.3s;
  
  }
  .banner .banner-user .banner-user-info:hover{
    transition: all 0.3s;
    background-color: #1e2c52;
    height: 100%;
  }
  .banner .banner-user .banner-user-info .banner-user-info-img{
    color: white;   
    width:30px;
    margin-right: 10px;
  }
  .content-wrapper{
    position: relative;
    top:0;
    left: 0;
    flex : 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  
  .btn-logout {
    margin-top: 15px;
    float: right;
    margin-right: 10px;
  }
  
  .btn-back {
    background: unset;
  }

  .menu { 
    background-color: white;
    position: absolute;
    left : 5px;
    width: 300px;
    top : 47px;
    padding : 10px 10px;
    border-radius: 2px;
    color : #172b4d;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
    z-index : 10;
  }
  .menu-title { 
    display: flex;
    padding : 3px 7px 5px 7px;
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
  }
  .menu-title span { 
      align-items: center;
      margin-left: auto;
  }
  .menu-title .menu-close {
    cursor: pointer;
    margin-left: auto;
  }

  .menu-cardbox-container { 
    padding-top : 5px ; 
  }
  .menu-cardbox-container .menu-cardbox-items { 
    display: flex;
    cursor: pointer;
    padding : 3px;
    transition: all 0.3s;
    margin-bottom: 5px;
    background-color: white;
  }
  .menu-cardbox-container .menu-cardbox-items:hover { 
    background-color: #dadada;
  }
  .menu-cardbox-items .menu-cardbox-items-icons { 
    width: 40px;
  }
  .menu-cardbox-items .menu-cardbox-items-icons svg{ 
    width: 100%;
  }
  .menu-cardbox-items .menu-cardbox-items-description {
    display: flex;
    flex-direction: column;
    flex : 1; 
    padding-left: 3px;
  }
  .menu-cardbox-items .menu-cardbox-items-description .menu-cardbox-items-description-title { 
    line-height: 1.14286;
    font-size: 14px;
    font-weight: 400;
  }
  .menu-cardbox-items .menu-cardbox-items-description .menu-cardbox-items-description-subtitle { 
    line-height: 1.2;
    font-size: 11px;
    font-weight: 400;
  }