<h2>insertion du matiere</h2>

<form ngForm #formEdit class="form" (submit)="onSubmit($event); formEdit.reset();">
  
    <input matInput placeholder="Nom du matiere" required [(ngModel)]="nom" name="nom">
 
    <select name="idProf" required [(ngModel)]="idProf">
      <option *ngFor="let profs of prof" value="{{profs._id}}">{{profs.nom}}</option>
    </select>
    <input matInput  placeholder="image" required [(ngModel)]="image" name="image">
 
  <button mat-stroked-button color="primary">
    Ajouter
  </button>
</form>
