<div class="container">
   
   <table class="table table-bordered table-hover">
      <thead>
         <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Image</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let prof of lsprof">
            <a routerLink="/prof/{{prof._id}}"><td>{{prof.nom + " id : "+prof._id}}</td></a>
            <td>{{prof.prenom}}</td>
            <td><img mat-card-image src="{{prof.image}}" alt="image prof"></td>
         </tr>
      </tbody>
   </table>
   
  </div>
  