<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(/assets/images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Connexion
                </span>
            </div>

            <form ngForm class="login100-form validate-form" #formLogin (submit)="onSubmit($event); formLogin.reset();">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Le nom de l'utilisateur est obligatoire">
                    <span class="label-input100">Nom de l'utilisateur</span>
                    <input  matInput class="input100" type="text" name="username" required [(ngModel)]="username" placeholder="Entrer le nom de l'utilisateur">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate = "Le mot de passe est obligatoire">
                    <span class="label-input100">Mot de passe</span>
                    <input class="input100" type="password" [(ngModel)]="password" name="pass" placeholder="Entrer le mot de passe">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Se souvenir de moi
                        </label>
                    </div>

                    <div>
                        <a routerLink="/register" class="txt1">
                            Vous n'avez pas encore de compte?
                        </a>
                    </div>
                </div>
                <div *ngIf="error">
                    <span class="msg-err">{{error}}</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Se connecter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>