<app-header></app-header>
   <div class="section-controller"></div>
   <div class="section-container">
      <div class="section-contenue">
         <table id="table-annonce" class="table table-hover">
            <thead>
               <tr>
                  <th>Nom</th>
                  <th>Nom de l'enseignement</th>
                  <th>Image de la matiere</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let matiere of lsmatiere">
                  <a routerLink="/matiere/{{matiere._id}}"><td>{{matiere.nom}}</td></a>
                  <td>{{matiere.prof.nom +" "+matiere.prof.prenom  }}</td>
                  <td><img mat-card-image src="{{matiere.image}}" alt="image matiere"></td>
               </tr>
            </tbody>
      </table>
      <div class="pagination">
         <nav>
            <button mat-raised-button color="primary" (click)="premierePage()">
              Première
            </button>
            <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="pagePrecedente()">
              Prev
            </button>
            <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="pageSuivante()">
              Suiv
            </button>
            <button mat-raised-button color="primary" (click)="dernierePage()">
              Dernière
            </button>
          </nav>
      </div>
      </div>
   
   
   